table.bx--data-table th:nth-child(3),
table.bx--data-table td:nth-child(3) {
  padding-left: 0;
  padding-right: 0;
}

table.bx--data-table th:nth-child(5),
table.bx--data-table td:nth-child(5) {
  padding-right: 3px;
}

table.bx--data-table th:nth-child(6),
table.bx--data-table td:nth-child(6) {
  padding-left: 3px;
}

/* table th:nth-child(2),
table td:nth-child(2) {
  padding: 0;
} */

.text-number {
  font-size: 0.75rem;
  font-style: italic;
  align-content: center;
  padding: 6px 16px;
  border: 1px solid var(--cds-ui-04);
  box-sizing: border-box;
}
.cell-right {
  text-align: right;
}

/* .bx--list-box__field .bx--text-input.supplier {
  border-bottom: none;
} */
.bx--table-column-checkbox {
  width: auto;
}

/* .bx--table-expand__button {
  width: auto;
  min-height: 16px;
} */
.bx--text-input--sm.cell-edit {
  margin: 0;
  padding: 0 2px;
  height: auto;
}

.bx--text-input.input-number {
  text-align: right;
}
.bx--text-input.align-left {
  text-align: left;
}

.bx--table-header-label {
  margin: 0;
  padding: 0 !important;
}
.qty {
  font-weight: 700;
  color: var(--cds-focus);
}
.qty-alert {
  color: var(--cds-text-error);
  font-weight: 700;
}

.subtotal {
  font-weight: 700;
}
hr {
  height: 1px;
  border-width: 1px 0 0 0;
  margin-top: 3px;
}

.bx--row {
  padding: 6px 0;
}

/* .box {
  padding: 12px;
} */
/*
.bx--grid {
  padding: 0 12px;
} */
